HOST = '0.0.0.0'
PORT = '9110'
MAIN_HOST = ""
KARDIRU_HOST = ""
API_KEY = ""
DB_LOGIN = ""
DB_PASSWORD = ''
DB_HOST = ''
DB_PORT =
DB_DATABASE = ''
EXPORTER_ID =
DEVICE_AGENT_CODE =
AGENT_ID =
API_DEBUG = True
CHANNEL_ID = ''
CHANNEL_PASSWORD = ''